
  title Todo_clock
  
  link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap ' rel='stylesheet ')

  script(src='/js/dashboard_clock.js')

  link(rel='stylesheet' href='/stylesheets/dashboard_clock.css')


block center
  .text-center
    i#start.fas.fa-play.align-middle.fa-2x
    i#stop.fas.fa-redo-alt.align-middle.fa-2x