.card
    .card-header.text-center.primary-color
        | Forum
        a.badge.badge-primary.badge-pill.primary-color-dark(href='/forum' target='_blank') Go
    .card-header.text-center(style='color:gray')
        | ↓ Newest Articles
    ul#dashboard_forum_ul.list-group.list-group-flush(style='color:black')
        //li.list-group-item Cras justo odio
        //li.list-group-item Dapibus ac facilisis in
        //li.list-group-item Vestibulum at eros
script(type='text/javascript' src='/js/forum/dashboard_forum.js')