.container.text-center.align-middle
    // Grid row
    .row
        // Grid column
        .col-md-12.mb-4
            button.btn.btn-primary.px-3(type='button')
                i.fab.fa-android(aria-hidden='true')
            button.btn.btn-default.px-3(type='button')
                i.fas.fa-balance-scale(aria-hidden='true')
            button.btn.btn-secondary.px-3(type='button')
                i.fas.fa-birthday-cake(aria-hidden='true')
            button.btn.btn-success.px-3(type='button')
                i.far.fa-thumbs-up(aria-hidden='true')
            button.btn.btn-info.px-3(type='button')
                i.fas.fa-tint(aria-hidden='true')
            button.btn.btn-warning.px-3(type='button')
                i.fas.fa-bolt(aria-hidden='true')
            button.btn.btn-danger.px-3(type='button')
                i.fas.fa-users(aria-hidden='true')
        // Grid column
        // Grid column
        .col-md-12.mb-4
            button.btn.btn-elegant(type='button')
                i.far.fa-user.pr-2(aria-hidden='true')
                | User
            button.btn.btn-unique(type='button')
                i.fas.fa-wifi.pr-2(aria-hidden='true')
                | Wifi
            button.btn.btn-pink(type='button')
                i.fas.fa-plane.pr-2(aria-hidden='true')
                | Plane
            button.btn.btn-purple(type='button')
                i.fas.fa-heart.pr-2(aria-hidden='true')
                | Heart
        // Grid column
    // Grid row