.container.text-center.align-middle
    // Grid row
    .row
        // Grid column
        .col-md-12.mb-4
            button.btn.btn-primary.px-3(type='button')
                i.fab.fa-facebook-square.fa-4x(aria-hidden='true')
            button.btn.btn-default.px-3(type='button')
                i.fab.fa-google-drive.fa-4x(aria-hidden='true')
            button.btn.btn-secondary.px-3(type='button')
                i.fas.fa-birthday-cake.fa-4x(aria-hidden='true')
            button.btn.btn-success.px-3(type='button')
                i.fas.fa-gamepad.fa-4x(aria-hidden='true')
            button.btn.btn-info.px-3(type='button')
                i.fas.fa-tint.fa-4x(aria-hidden='true')
            button.btn.btn-warning.px-3(type='button')
                i.fas.fa-bolt.fa-4x(aria-hidden='true')
            button.btn.btn-danger.px-3(type='button')
                i.fas.fa-users.fa-4x(aria-hidden='true')
        // Grid column
        // Grid column
        .col-md-12.mb-4
            button.btn.btn-elegant(type='button')
                a
                    i.far.fa-user.pr-2.fa-7x(aria-hidden='true')
                    | Staff
            button.btn.btn-unique(type='button')
                a   
                    i.fas.fa-wifi.pr-2.fa-7x(aria-hidden='true')
                    | Wifi
            button.btn.btn-success(type='button')
                a
                    i.fas.fa-battery-full.fa-7x(aria-hidden='true')
                    | Power
            button.btn.btn-purple(type='button')
                a
                    i.fas.fa-check.pr-2.fa-7x(aria-hidden='true')
                    | Todo
        // Grid column
    // Grid row