
.container
  //button(style="background-color: transparent")
  //  i.fas.fa-code.fa-4x(style = "margin: 10px 10px;")
  h3.text-center Assigned Tasks
    i.fas.fa-calendar-check.pl-3
  .cool-list
    table.table
      thead#cool-thead.thead-light
        tr
          th(scope='col') Task
          th(scope='col') Deadline(Month/Day)
          th(scope='col') Deadline(hour/min)
      tbody
        tr
          td
            | Mark
          td Otto
          td @mdo
        tr
          td
            | Jacob
          td Thornton
          td @fatbulletin
        tr
          td
            | Larry
          td the Bird
          td @twitter