
title Todo_clock

link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap ' rel='stylesheet ')

script(src='/js/dashboard_todo_clock.js')

link(rel='stylesheet' href='/stylesheets/dashboard_todo_clock.css')


.container
  h3.text-center My Todo-List
    i.fa.fa-calendar-alt.pl-3
  a(href='/todo_clock')
    i.fas.fa-code.fa-4x(style = "margin: 3px 3px;")
  .cool-list
    table.table
      thead#cool-thead.thead-light
        tr
          th(scope='col') Task
          th(scope='col') Deadline(Month/Day)
          th(scope='col') Deadline(hour/min)
      tbody
        tr
          td
            | Mark
          td Otto
          td @mdo
        tr
          td
            | Jacob
          td Thornton
          td @fatbulletin
        tr
          td
            | Larry
          td the Bird
          td @twitter