
// Default form contact
form.text-center.border.border-light.p-5(action='#!')
    p.h4.mb-4 Assign Tasks
    // Name
    input#taskAssignmentAssignNames.form-control.mb-4(type='text' placeholder='Name')
    // Message
    .form-group
        textarea#taskAssingmentAssignTaskTextarea.form-control.rounded-0(rows='3' placeholder='Task')
    button#taskAssignmentAssignBtn.btn.btn-info.btn-block(type='submit') Send
//
script(type='javascript' src='/js/task_assignment/assign.js')