style(type='text/css').
    .table, .col{
        color:white;
    }


table#wait_checked_display_table.table.pl-0.pr-0
    //h3 Not be completed
    //thead
    //    tr
    //        th(scope='col') Task You assigned
    //        th(scope='col') Collaborator
    //        th(scope='col') Deadline
    tbody
        //tr
        //    td Mark
        //    td @mdo
        //    td @mdo
        //tr
        //
        //    td Jacob
        //    td @fat
        //    td @fat
        //tr
        //
        //    td Larry
        //    td @twitter
        //    td @twitter
script(type='text/javascript' src='/js/task_assignment/wait_for_checked.js')