table.table
    h3 Not be completed
    thead
        tr
            th(scope='col') Task You assigned
            th(scope='col') Collaborator
    tbody
        tr
            td Mark
            td @mdo
        tr

            td Jacob
            td @fat
        tr

            td Larry
            td @twitter