extends page

block content
    .container.mt-5
        // Section: Content
        section.dark-grey-text
            // Section heading
            h2.text-center.font-weight-bold.mb-4.pb-2 Recent Posts
            // Section description
            p.text-center.mx-auto.w-responsive.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
            // Grid row
            .row.align-items-center
                // Grid column
                .col-lg-5
                    // Featured image
                    .view.overlay.rounded.z-depth-2.mb-lg-0.mb-4
                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg' alt='Sample image')
                        a
                            .mask.rgba-white-slight
                // Grid column
                // Grid column
                .col-lg-7
                    // Post title
                    h4.font-weight-bold.mb-3
                        strong Title of the news
                    // Excerpt
                    p
                        | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                        | placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.
                    // Post data
                    p
                        | by &nbsp;
                        a
                            strong Carine Fox
                        | , 19/08/2018
                    // Read more button
                    a.btn.btn-outline-primary.mx-0(href='#')
                        | Read More
                        i.fas.fa-arrow-right.fs-9.ml-2
                // Grid column
                // Grid row
                hr.my-5
        // Section: Content
    .container.mt-5
        // Section: Content
        section
            // Grid row
            .row
                // Grid column
                .col-lg-5.col-md-12.mb-lg-0.mb-4
                    // Featured image
                    .view.overlay.rounded.z-depth-1.mb-lg-0.mb-4
                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/images/52.jpg' alt='Sample image')
                        a
                            .mask.rgba-white-slight
                // Grid column
                // Grid column
                .col-lg-7.col-md-6.mb-md-0.mb-4.mt-xl-4
                    h3.font-weight-normal.mb-4 Convert your visitors to real customers
                    p.text-muted
                        | Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.
                    a.btn.btn-outline-primary.mx-0(href='#')
                        | Read More
                        i.fas.fa-arrow-right.fs-9.ml-2
                // Grid column
                // Grid row
                // Section: Content
    .container.mt-5
        // Section: Content
        section
            // Grid row
            .row
                // Grid column
                .col-lg-5.col-md-12.mb-lg-0.mb-4
                    // Featured image
                    .view.overlay.rounded.z-depth-1.mb-lg-0.mb-4
                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/images/49.jpg' alt='Sample image')
                        a
                            .mask.rgba-white-slight
                // Grid column
                // Grid column
                .col-lg-7.col-md-6.mb-md-0.mb-4.mt-xl-4
                    h3.font-weight-normal.mb-4 Title of the news
                    p.text-muted
                        | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis cum soluta nobis est eligendi placeat facere aut rerum.
                        | by Jessica Clark, 19/04/2018
                    a.btn.btn-outline-primary.mx-0(href='#')
                        | Read More
                        i.fas.fa-arrow-right.fs-9.ml-2
                // Grid column
                // Grid row
                // Section: Content
