doctype html
html
    head
        title Dashboard
        include layout/head
        // === Stylesheets ===
        include layout/stylesheets
        style(type='text/css').
            body {
                background-color: #024873;
                color: white;
            }

            .col {
                border-style: solid;
                border-width: thin;
                border-color: #75A3BF;
                padding: 50px 25px;
            }

            .start_work {
                display: flex;
                justify-content: center;
                align-items: center;
                /*color: darkgray;*/
                /*font-size: 50px;*/
            }

            .slide_col {
                padding: 0;
            }

            .icon_col {
                padding: 0;
            }

            #assign_task_system_row {

            }

            #taskAssignmentSys {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        // === Include Javascript ===
        include layout/js

    body
        .container-fluid
            .row
                .col
                    .container.text-center
                        h1 Welcome to Micron!
                        | Intelligence Accelerate
                .col.start_work.fa-5x
                     .container.text-center
                        h1
                            | You have worked for 
                            <strong style="font-size: 180%;">32</strong>
                            |  mins.

                        
                  
            .row
                .col.icon_col
                    include dashboard/icons

                        //img.mx-2(src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg" alt="Generic placeholder image")
            .row
                .col.slide_col
                    include dashboard/bulletin

                .col
                    //.container.text-center
                    //    h3 Special title treatment
                    //    p.card-text With supporting text below as a natural lead-in to additional content.
                    //    a.btn.btn-primary(href='#!') More
                    //    | 2 days ago
                    .container.mt-5
                        // Section: Content
                        section
                            // Grid row
                            .row
                                // Grid column
                                .col-lg-2.col-md-12.mb-lg-0.mb-4

                                // Grid column
                                // Grid column
                                .col-lg-9.col-md-6.mb-md-0.mb-4.mt-xl-4
                                    h3.font-weight-normal.mb-4 Convert your visitors to real customers
                                    p.text-muted
                                        | Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.
                                    a.btn.btn-outline-primary.mx-0(href='#')
                                        | Read More
                                        i.fas.fa-arrow-right.fs-9.ml-2


            .row
                .col
                    .container.text-center
                        include dashboard/forum
                .col
                    .row
                        .container
                            include dashboard/todo
            .row
                .col
                    .container
                        include dashboard/task
                .col
                    .container
                        include dashboard/task_wait_approved
            .row
                .col
                    .container.text-center
                        include dashboard/chat
                .col
                    .container.text-center
                        include dashboard/meeting
                .col
                    .container.text-center
                        include dashboard/online_people
            .row
                h3#taskAssignmentSys.container.text-center Task Assignment System
            .row#assign_task_system_row
                .col
                    .container.text-center
                        include dashboard/task_assignment/assign
                .col
                    .container.text-center
                        include dashboard/task_assignment/have_assigned_but_not_completed
                .col
                    .container.text-center
                        include dashboard/task_assignment/completed_but_not_checked

            .row
                .col
                    // Grid row
                    .row
                        // Grid column
                        .col-md-12.mb-4.text-center
                            button.btn.btn-fb(type='button')
                                i.fab.fa-facebook-f.left
                                |  Facebook
                            button.btn.btn-gplus(type='button')
                                i.fab.fa-google-plus-g.left
                                |  Google +
                            button.btn.btn-ins(type='button')
                                i.fab.fa-instagram.left
                                |  Instagram
                            button.btn.btn-so(type='button')
                                i.fab.fa-stack-overflow.left
                                |  Stack Overflow
                        .col-md-12.mb-4.text-center
                            // Facebook
                            button.btn.btn-fb.btn-lg(type='button')
                                i.fab.fa-facebook-f
                            span.counter 22
                            // Twitter
                            button.btn.btn-tw.btn-lg(type='button')
                                i.fab.fa-twitter
                            span.counter 22
                            // Google +
                            button.btn.btn-gplus.btn-lg(type='button')
                                i.fab.fa-google-plus-g
                            span.counter 22
                            // Linkedin
                            button.btn.btn-li.btn-lg(type='button')
                                i.fab.fa-linkedin-in
                            span.counter 22
                            // Slack
                            button.btn.btn-slack.btn-lg(type='button')
                                i.fab.fa-slack-hash
                            span.counter 22
                            // Emails
                            button.btn.btn-email.btn-lg(type='button')
                                i.fas.fa-envelope
                            span.counter 22
                        // Grid column
                        // Grid column
                        //.col-md-12
                        //    // Facebook
                        //    a.icons-sm.fb-ic
                        //        i.fab.fa-facebook-f.fa-2x
                        //    // Twitter
                        //    a.icons-sm.tw-ic
                        //        i.fab.fa-twitter.fa-2x
                        //    // Google +
                        //    a.icons-sm.gplus-ic
                        //        i.fab.fa-google-plus-g.fa-2x
                        //    // Linkedin
                        //    a.icons-sm.li-ic
                        //        i.fab.fa-linkedin-in.fa-2x
                        //    // Instagram
                        //    a.icons-sm.ins-ic
                        //        i.fab.fa-instagram.fa-2x
                        //    // Pinterest
                        //    a.icons-sm.pin-ic
                        //        i.fab.fa-pinterest.fa-2x
                        //    // Slack
                        //    a.icons-sm.slack-ic
                        //        i.fab.fa-slack-hash.fa-2x
                        //    // Github
                        //    a.icons-sm.git-ic
                        //        i.fab.fa-github.fa-2x
                        //    // Youtube
                        //    a.icons-sm.yt-ic
                        //        i.fab.fa-youtube.fa-2x
                        //    // Dribbble
                        //    a.icons-sm.dribbble-ic
                        //        i.fab.fa-dribbble.fa-2x
                        //    // Stack Overflow
                        //    a.icons-sm.so-ic
                        //        i.fab.fa-stack-overflow.fa-2x
                        // Grid column
                    // Grid row

            .row
                .col

            .row
                .col
                    .container.mt-5
                        // Section: Content
                        section
                            // Grid row
                            .row
                                // Grid column
                                .col-lg-5.col-md-12.mb-lg-0.mb-4
                                    // Featured image
                                    .view.overlay.rounded.z-depth-1.mb-lg-0.mb-4
                                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/images/52.jpg' alt='Sample image')
                                        a
                                            .mask.rgba-white-slight
                                // Grid column
                                // Grid column
                                .col-lg-7.col-md-6.mb-md-0.mb-4.mt-xl-4
                                    h3.font-weight-normal.mb-4 Convert your visitors to real customers
                                    p.text-muted
                                        | Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.
                                    a.btn.btn-outline-primary.mx-0(href='#')
                                        | Read More
                                        i.fas.fa-arrow-right.fs-9.ml-2
                .col
                    .container.mt-5
                        // Section: Content
                        section
                            // Grid row
                            .row
                                // Grid column
                                .col-lg-5.col-md-12.mb-lg-0.mb-4
                                    // Featured image
                                    .view.overlay.rounded.z-depth-1.mb-lg-0.mb-4
                                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/images/52.jpg' alt='Sample image')
                                        a
                                            .mask.rgba-white-slight
                                // Grid column
                                // Grid column
                                .col-lg-7.col-md-6.mb-md-0.mb-4.mt-xl-4
                                    h3.font-weight-normal.mb-4 Convert your visitors to real customers
                                    p.text-muted
                                        | Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.
                                    a.btn.btn-outline-primary.mx-0(href='#')
                                        | Read More
                                        i.fas.fa-arrow-right.fs-9.ml-2
                .col
                    .container.mt-5
                        // Section: Content
                        section
                            // Grid row
                            .row
                                // Grid column
                                .col-lg-5.col-md-12.mb-lg-0.mb-4
                                    // Featured image
                                    .view.overlay.rounded.z-depth-1.mb-lg-0.mb-4
                                        img.img-fluid(src='https://mdbootstrap.com/img/Photos/Others/images/52.jpg' alt='Sample image')
                                        a
                                            .mask.rgba-white-slight
                                // Grid column
                                // Grid column
                                .col-lg-7.col-md-6.mb-md-0.mb-4.mt-xl-4
                                    h3.font-weight-normal.mb-4 Convert your visitors to real customers
                                    p.text-muted
                                        | Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.
                                    a.btn.btn-outline-primary.mx-0(href='#')
                                        | Read More
                                        i.fas.fa-arrow-right.fs-9.ml-2
        include layout/footer



// reference: https://boohover.pixnet.net/blog/post/35341387