extends layout

block center
  #index
    .container.pt-3.pb-3.text-center
      h1= title
      p Welcome to #{title}
      img(src='/images/favicon.png' alt='IMG')
    .container.text-center.pb-3
      //.btn-group(role='group' aria-label='Link to operations about account')
      a.btn.btn-primary.text-center(href='/user/login' ) &nbsp; Login &nbsp;
      a.btn.btn-primary.text-center(href='/user/register') Register
  style(type='text/css').
    #index img{
      border-radius: 10%;
      max-width: 90vw;
    }
