//- extends page

//- block stylesheets

//- block js
//-   title React DnD Dashboard
    

//- block center
//-   #app
//-   script(type='text/javascript' src='/js/kanban.js')


doctype html
head
  meta(charset='utf-8')
  title React DnD Dashboard
#app
script(type='text/javascript' src='/js/kanban.js')
