doctype html
html
    head
        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' href='/images/favicon.png')
        block head
        // === Stylesheets ===
        include layout/stylesheets
        link(rel='stylesheet' href='/stylesheets/layout.css')
        block stylesheets

    body
        // === header ===
        include layout/header

        // === center ===
        block center

        // === footer ===
        include layout/footer

        // === Javascript ===
        include layout/js
        block js