doctype html
html
    head
        include layout/head
        block head
        // === Stylesheets ===
        include layout/stylesheets
        link(rel='stylesheet' href='/stylesheets/layout.css')
        block stylesheets

    body
        // === header ===
        include layout/header

        // === center ===
        block center

        // === footer ===
        include layout/footer

        // === Javascript ===
        include layout/js
        block js