extends layout_no_footer

block stylesheets
  link(rel='stylesheet', href='/stylesheets/meetingPage.css', type='text/css' )
  link(rel='stylesheet', href='/stylesheets/chatroom.css', type='text/css' )
  link(rel='stylesheet', href='/stylesheets/whiteboard.css', type='text/css' )
    
block js
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/js/meetingPage_chatroom.js')
    script(type='text/javascript' src='/js/meetingPage_whiteboard.js')
    script(type='text/javascript' src='/js/meetingPage_test.js')
    script.
      setUsername('#{user_name}');


block center

  div#mySidenav.sidenav
    #sidenav_title
    ul.list-group
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Cras justo odio
        span.badge.badge-primary.badge-pill 14
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Dapibus ac facilisis in
        span.badge.badge-primary.badge-pill 2
      li.list-group-item.d-flex.justify-content-between.align-items-center
        | Morbi leo risus
        span.badge.badge-primary.badge-pill 1



  a#room-list-btn.btn-floating.btn-lg(onClick=" OpenorClose()")
    i.fas.fa-user-friends


  div#slide-out.side-nav.fixed
    ul.pages
      li.chat.page
        .chatArea
          ul.messages
        input.inputMessage(placeholder='Type here...')
      li.login.page
        .form
          h3.title Welcome, #{user_name}
          

  div#main
    canvas.whiteboard
    .colors
      .color.black
      .color.red
      .color.green
      .color.blue
      .color.yellow
