extends layout

block js
    script(type='text/javascript' src='/js/meetingPage.js')

block center
  .container.pt-4.pb-4.text-center
    div.XD
      h1= title
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
      p MEETING
