extends layout_no_footer

block stylesheets
  link(rel='stylesheet', href='/stylesheets/meetingPage.css', type='text/css' )
  link(rel='stylesheet', href='/stylesheets/chatroom.css', type='text/css' )
  link(rel='stylesheet', href='/stylesheets/whiteboard.css', type='text/css' )
    
block js
    
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/js/meetingPage_chatroom.js')
    script(type='text/javascript' src='/js/meetingPage_whiteboard.js')
    script(type='text/javascript' src='/js/meetingPage_room.js')
    script(type='text/javascript' src='/js/meetingPage_test.js')
    script(src='https://meet.jit.si/external_api.js')
    script(src='/js/jitsi.js')
    script.
      $(function () { setUsername('#{user_name}');});
    



block center

  div#mySidenav.sidenav
    #sidenav_title
      a.circle-btn.btn-floating.btn-lg(onClick="add_room()")
        i.fas.fa-plus
    ul.list-group
      a.list-group-item.d-flex.justify-content-between.align-items-center.list-group-item-action(href="/index")
        | Default room
        span.badge.badge-primary.badge-pill 14

  div#top_btn_div

    a.circle-btn.btn-floating.btn-lg(onClick=" OpenorClose()")
      i.fas.fa-user-friends
    a.circle-btn.btn-floating.btn-lg(data-toggle='modal' data-target='#whiteboardModal' onclick="setTimeout(onResize,200)")
      i.fas.fa-calendar
    a.circle-btn.btn-floating.btn-lg#meeting_reload
      i.fas.fa-undo
    a.circle-btn.btn-floating.btn-lg#screenshot
      i.fas.fa-camera
    a#leave-btn.circle-btn.btn-floating.btn-lg
      i.fas.fa-window-close


  div#slide-out.side-nav.fixed
    ul.pages
      li.chat.page
        .chatArea
          ul.messages
        input.inputMessage(placeholder='Type here...')
      li.login.page
        .form
          h3.title Welcome, #{user_name}
          

  div#main
    // h1.text-center Meeting
    #meet.text-center


  // Modal
  #whiteboardModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='whiteboardModal' aria-hidden='true' )
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Whiteboard
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          canvas.whiteboard
          .colors
            .color.black
            .color.red
            .color.green
            .color.blue
            .color.yellow
            a#color_front.color.circle-btn.btn-floating.btn-lg
              i.fas.fa-cog
            input#colour.bar(type='color' value='#fefefe')

                      
            a.circle-btn.btn-floating.btn-lg(onClick="clearCanvas()")
              i.fas.fa-file
            a.circle-btn.btn-floating.btn-lg(onClick="save_canvas()")
              i.fas.fa-image

            input#line-width.slider(type='range' min='1' max='25' value='9')
