extends layout_no_footer

block stylesheets
  link(rel='stylesheet', href='/stylesheets/meetingClosed.css', type='text/css' )
    
block js
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/js/meetingClosed.js')


block center
  .container
    h1#title
      |  : Meeting Files
    #files_container
    

    .row.row-cols-2.row-cols-md-5#card_region
