extends layout_no_footer

block stylesheets
  link(rel='stylesheet', href='/stylesheets/meetingPage.css', type='text/css' )
  link(rel='stylesheet', href='/stylesheets/chatroom.css', type='text/css' )
  link(rel='stylesheet', href='/stylesheets/whiteboard.css', type='text/css' )
    
block js
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/js/meetingPage_chatroom.js')
    script(type='text/javascript' src='/js/meetingPage_whiteboard.js')
    script(type='text/javascript' src='/js/meetingPage_test.js')
    script.
      setUsername('#{user_name}');


block center

  div#slide-out.side-nav.fixed
    ul.pages
      li.chat.page
        .chatArea
          ul.messages
        input.inputMessage(placeholder='Type here...')
      li.login.page
        .form
          h3.title What&apos;s your nickname?
          input.usernameInput(type='text' maxlength='14')
          

  div.main(style="background-color:brown")
    canvas.whiteboard
    .colors
      .color.black
      .color.red
      .color.green
      .color.blue
      .color.yellow
