extends page


block js
    script(type='text/javascript' src='/js/test.js')



block content
    .row.justify-content-center
        .col
            .container.text-break
                h1= title
                p Welcome to #{title}
                p Welcome to #{title}
    .row
        .col
            .container
                img#testIMG(src='/images/favicon.png' alt='IMG')
            .container
                button.btn.btn-primary(type='button' onclick='get_users()') Get User List
    style.
        #testIMG{
            max-width: 50%;
        }

