extends page


block js
    script(type='text/javascript' src='/js/test.js')


block content
    .row.justify-content-center
        .col
            .container.text-break
                h1= title
                p Welcome to #{title}
                p Welcome to #{title}
    .row
        .col
            .container
                img#testIMG(src='/images/favicon.png' alt='IMG')
            .container
                button.btn.btn-primary(type='button' onclick='get_users()') Get User List


            //if(session.userId)
            //    form(method='post' action='/user/logout')
            //        input(type='submit' value='logout')
            //else
                //p= session
                //p= session.userId
            //p= session.userId

            = userId
            = username

    style.
        #testIMG{
            max-width: 50%;
        }

