
h2 {
    display: inline;
    align-items: center;
    font-size: 220%;
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    margin-bottom: 5%;
    margin-top: 5%;
}

#start {
    margin: 10% 10%;
}

#start:hover {
    color: #4480A6;
    margin: 10% 10%;
}

#stop {
    margin: 10% 10%;
}

#stop:hover {
    color: #4480A6;
    margin: 10% 10%;
}

#title {
    font-size: 200%;
}

.fa-code {
    float: right;
    color: #4480A6;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: #024873;
    /* background: #fff; */
    height: 60px;
    line-height: 40px;
}

span {
    /* background-color: #FFA17F; */
    height: 40px;
    margin-right: 20px;
    text-align: center;
    /* color: white; */
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

tr:hover span {
    width: 40px;
    opacity: 1.0;
}

.bt {
    background-color: #4480A6;
    text-align: center;
}

.bt:hover {
    background-color: #024873;
}

.cool {
    font-size: 65%;
    color: #00223E;
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 0;
}

.cool:focus {
    height: 100%;
    border: 1px solid #75A3BF;
    color: #ADC8D9;
    outline: none;
}

.cool-form {
    margin-bottom: 15px;
}

#container {
    /* background-color: #f7f7f7; */
    width: 100%;
    margin: 100px auto;
}

.complete {
    color: #4480A6;
    text-decoration: line-through;
}

.cool-list {
    font-size: 200%;
}

#cool-thead {
    background-color: #4480A6;
}