.primary-color, .blue {
    background-color: #4480A6 !important;
}

body {
    padding-top: 58px; /* Use this to solve the fixed navbar covering content problem. */
    background-color: #024873;
    color:white;
}

/*@media  {*/
/*    */
/*}*/

/*.page_container{*/
/*    min-height: 70vh;*/
/*}*/
