html,body{
  height: 100%;
}

#main{
  height: 100%;
  margin-right: 20%;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


#slide-out{
  width: 20%;
  height: 100%;

  padding: 0;
  float: right;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#room-list-btn{
  background-color: rgb(160, 197, 236);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  position: absolute;
  border-radius: 22px;
  z-index: 100;
  margin-top: 10px;
  margin-left: 10px;
}

#sidenav_title{
  height: 10%;
}

#add_rom_btn{
  background-color: rgb(160, 197, 236);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  position: absolute;
  border-radius: 22px;
  z-index: 100;
  margin-top: 10px;
  margin-left: 10px;
}

.circle-btn{

  margin: 15px;
  border-radius: 50px;
  background-color: rgb(144, 177, 221);
}