html,body{
  height: 100%;
}

#main{
  height: 100%;
  margin-right: 20%;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


#slide-out{
  width: 20%;
  height: 100%;

  padding: 0;
  float: right;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#room-list-btn{
  background-color: rgb(160, 197, 236);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  position: absolute;
  border-radius: 22px;
  z-index: 100;
  margin-top: 10px;
  margin-left: 10px;
}

#sidenav_title{
  height: 10%;
}

#top_btn_div{
  position: absolute;
  z-index: 100;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.fixed-btn{
  position: absolute;
  z-index: 100;
}

.circle-btn{
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin: 15px;
  border-radius: 50px;
  background-color: rgb(144, 177, 221);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}