.container{
  text-align: center;
}

.list-group{
  text-align: center;
}

h1{
  padding: 10px;
}

.list-group-item{
  width: 20%;
  margin: 0 auto;
}

#add_rom_btn{
  margin: 15px;
  border-radius: 50px;
  background-color: rgb(144, 177, 221);
}