// Footer
footer.page-footer.font-small.blue.pt-4
    // Footer Links
    .container-fluid.text-center.text-md-left
        // Grid row
        .row
            // Grid column
            .col-md-6.mt-md-0.mt-3
                // Content
                h5.text-uppercase Footer Content
                p Here you can use rows and columns to organize your footer content.
            // Grid column
            hr.clearfix.w-100.d-md-none.pb-3
            // Grid column
            .col-md-3.mb-md-0.mb-3
                // Links
                h5.text-uppercase Links
                ul.list-unstyled
                    li
                        a(href='#!') Link 1
                    li
                        a(href='#!') Link 2
                    li
                        a(href='#!') Link 3
                    li
                        a(href='#!') Link 4
            // Grid column
            // Grid column
            .col-md-3.mb-md-0.mb-3
                // Links
                h5.text-uppercase Links
                ul.list-unstyled
                    li
                        a(href='#!') Link 1
                    li
                        a(href='#!') Link 2
                    li
                        a(href='#!') Link 3
                    li
                        a(href='#!') Link 4
            // Grid column
        // Grid row
    // Footer Links
    // Copyright
    .footer-copyright.text-center.py-3
        | &copy; 2020 Copyright:
        a(href='/')  Banana and Orange
    // Copyright
// Footer

